
$black: #000;
$white: #fff;
$grey: #A9A9A9;
$primary: #1098F7;

.section__btn {
    background-color: $white;
    color: $primary;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 10px;
    transition: all .3s;
    border: 3px solid $primary;
    box-shadow: 5px 5px 15px rgba($primary, 0.3);

    &:hover {
        color: $white;
        background-color: $primary;
    }
}

.modal__form {
    padding: 20px;
}

.modal__row {
    align-items: center;
    margin-bottom: 34px;
}

.modal__link {
    font-size: 20px;
}

.modal__heading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    flex-grow: 1; 
}

.modal-form__box {
    width: 100%;
}

.form-control__modal {
    margin-bottom: 11px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: $black;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid $primary;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__box {
    width: 400px;
}

.form__button {
    padding: 5px 15px;
    color: $primary;
    border: 1px solid $primary;
    background-color: $white;

    &:hover {
        background-color: $primary;
        border: 1px solid $primary;
        color: $white;
        transform: scale(1.1);
    }
}

.form__label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    line-height: 1.5;

    font-size: 20px;
    font-weight: 500;
    padding-right: 20px;
}

.form__time {
    padding: 10px;
}

@media (max-width: 768px) {

    .footer {
        padding: 10px 0;
    }

    .footer__text {    
        &--last {
            margin-bottom: 25px;
        }
    }

    .footer__contacts {
        text-align: center;
    }
}


